.insport_top {
  .top_title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  h1 {
    font-family: 'Krona One';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 35px;
    color: #FFFFFF;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;

    a {
      padding: 0 30px;
      height: 54px;
      margin-left: 20px;
      font-family: 'Krona One';
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      color: #FFFFFF;
    }
  }
}

.main__card_img {
  width: 100%;
  max-height: 400px;
}

// main card swipper
.main__card_slider {
  margin-top: 20px;
  padding: 0 46px;
  position: relative;
  margin-bottom: 40px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  img {
    width: 100%;
    height: 85px;
    object-fit: cover;
  }

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev {
  &::after {
    display: none;
    width: 36px;
    height: 36px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  top: 50%;
  transform: translateY(-50%);
  margin-top: 0;
}

.swiper-button-next {
  right: 0;
}

.swiper-button-prev {
  left: 0;
}

.main__card_about {
  .post_title {
    font-family: 'TT Hoves';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #EDEDED;
    margin-bottom: 20px;
  }

  p {
    font-family: 'TT Hoves';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #FFFFFF;
  }
}

.main__card_right_line {
  margin-bottom: 40px;

  .top {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'TT Hoves';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    margin-bottom: 20px;


    img {
      width: 24px;
      height: 24px;
      object-fit: contain;
      margin-right: 10px;
    }
  }

  .deagre {
    display: flex;
    align-items: center;

    .star_full {
      display: flex;
      width: 16px;
      height: 16px;
      background-image: url('../../img/svg/star_full.svg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      margin-right: 5px;
    }

    .star_free {
      display: flex;
      width: 16px;
      height: 16px;
      background-image: url('../../img/svg/star_free.svg');
      display: flex;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      margin-right: 5px;
    }
  }
}

.main__card_work {
  .active {
    margin-left: 20px;
    width: 71px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Krona One';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    padding: 4px 8px;

    &.open {
      background: linear-gradient(84.91deg, #58D172 8.18%, #216A3A 90.36%);
    }

    &.closed {
      background: linear-gradient(98.07deg, #F16B41 0.71%, #C51841 100%);
    }
  }

  p {
    font-family: 'TT Hoves';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;

    span {
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.main__card_phone {
  .numbers {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: 'TT Hoves';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;

    span {
      height: 25px;
      width: 2px;
      background-image: linear-gradient(#F16B41, #C51841);
      margin: 0 10px;
    }
  }
}

.main__card_locate {
  p {
    font-family: 'TT Hoves';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    margin-bottom: 20px;
  }
}

.mapouter__insports {
  position: relative;
  text-align: right;
  height: 100%;
  height: 250px;

  iframe {
    width: 100%;
    height: 100%;
  }

  .gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 100%;
    width: 100%;
  }
}

// calendar uchun

.fc-event-title-container {
  // background-color: #F14141;
}

.fc-timegrid-event-harness {}

.fc-timegrid-event-harness-inset {
  background-color: #d6bebe;
}

.fc-event-main {
  // background-color: #0b0808;
}

// calaendar end 

.secelted__insport {
  margin-top: 76px;
  margin-bottom: 100px;
}

.card__select__insport {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-left: 11px solid transparent;
  position: relative;
  padding: 15px;
  background: linear-gradient(115.22deg, #191926 0%, #263344 100.47%);
  box-shadow: 0px 20px 20px rgba(8, 1, 49, 0.41);
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    content: '';
    position: absolute;
    left: -11px;
    top: 0;
    width: 11px;
    height: 100%;
    background: linear-gradient(98.07deg, #F16B41 0.71%, #C51841 100%);

  }

  .name__zone {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    justify-content: space-between;

    strong {
      font-family: 'TT Hoves';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      color: #FFFFFF;
      margin-bottom: 12px;
    }

    p {
      display: flex;
      flex-direction: row;
      align-items: center;
      font-family: 'TT Hoves';
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 19px;
      color: #EDEDED;

      img {
        width: 16px;
        height: 16px;
        object-fit: contain;
        margin-right: 4px;
      }
    }
  }

  .secelted__insport {
    display: flex;
    flex-direction: row;
  }

  .other {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-shrink: 0;
    margin-left: 10px;

    p {
      font-family: 'TT Hoves';
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 19px;
      color: #EDEDED;
      margin-bottom: 12px;
    }

    strong {
      font-family: 'TT Hoves';
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 19px;
      color: #FFFFFF;
    }
  }
}
.card__select__insport_wrap {
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  .card__select__insport {
    margin-bottom: 0;
    flex-grow: 1;
  }
  .cansel_button {
    font-family: 'TT Hoves';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    flex-direction: row;
    align-items: center;
    img {
      width: 36px;
      height: 36px;
      object-fit: contain;
    }
    span {
      background-image: linear-gradient(98.07deg, #F16B41 0.71%, #C51841 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
    }
  }
}

.inssport__h3 {
  font-family: 'Krona One';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #FFFFFF;
  margin-bottom: 50px;
}

.other__zones {
  margin-bottom: 70px;

  .tops__row {
    margin-bottom: 0;
  }
}

.clients__say__card {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid;
  height: 100%;
  justify-content: space-between;
  border-image: linear-gradient(98.07deg, #F16B41 0.71%, #C51841 100%) 10;

  .message {
    font-family: 'TT Hoves';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #EDEDED;
    margin-bottom: 37px;
  }

  .user {
    display: flex;
    flex-direction: row;
    align-items: center;

    img {
      display: inline-block;
      width: 50px;
      height: 50px;
      object-fit: cover;
      border-radius: 100%;
      margin-right: 15px;
    }

    .name {
      font-family: 'TT Hoves';
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 16px;
      color: #EDEDED;
      margin-bottom: 8px;
    }

    .time {
      font-family: 'TT Hoves';
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      color: #EDEDED;
    }
  }
}