$my_cbg: #091423;

body {
  background-color: $my_cbg;
  position: relative;
}

header,
main,
footer {
  position: relative;
}

// clear margin
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  margin: 0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;

  a {
    text-decoration: none;
    color: #fff;
  }

  ol,
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

@font-face {
  font-family: 'Krona One';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Krona_One/KronaOne-Regular.ttf') format('truetype');
}

// omport fommt TT Hoves
@font-face {
  font-family: 'TT Hoves';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/tthoves/TTHoves-Regular.ttf') format('truetype');
}

.button-free {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent;
  border-image: linear-gradient(90deg, #F16B41, #C51841) 10;
  font-family: 'Krona One';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #FFFFFF;

  &:hover {
    background-image: linear-gradient(98.07deg, #F16B41 0.71%, #C51841 100%);
    border-image: linear-gradient(50deg, #fad3c7, #C51841) 10;
    color: white;
  }
}

.button-full {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent;
  border-image: linear-gradient(50deg, #fad3c7, #C51841) 10;
  background-image: linear-gradient(98.07deg, #F16B41 0.71%, #C51841 100%);
  font-family: 'Krona One';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;

  color: #FFFFFF;

  &:hover {
    background-image: linear-gradient(98.07deg, #f16a4100 0.71%, #c5184000 100%);
    ;
    border-image: linear-gradient(90deg, #F16B41, #C51841) 10;
    color: white;
  }
}

.body__filterbg {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;

  .red {
    position: absolute;
    width: 300px;
    height: 150px;
    left: 54px;
    top: 107px;

    background: #f2544c;
    filter: blur(150px);
  }

  .blue {
    position: absolute;
    width: 300px;
    height: 120px;
    right: 30px;
    top: 700px;

    background: #1bbbebd2;
    opacity: 0.8;
    filter: blur(150px);
  }

  .green {
    position: absolute;
    width: 300px;
    height: 164px;
    left: 50%;
    top: 1358px;
    transform: translateX(-50%);
    background: #13D602;
    opacity: 0.5;
    filter: blur(150px);
  }

  .orange {
    position: absolute;
    width: 250px;
    height: 212px;
    left: 0;
    top: 2482px;
    background: #F24CA6;
    opacity: 0.7;
    filter: blur(150px);
  }
}
.close__action {
  display: flex;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
  z-index: 2;
  &.close__wait {
    visibility: visible;
  }
}
input {
  letter-spacing: 2px;
}