body.login {
  min-height: 100vh;
}

.login__title {

  font-family: 'Krona One';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 35px;
  color: #FFFFFF;
  margin-bottom: 60px;
}

.login__form {
  display: flex;
  flex-direction: column;
}

.form__row {
  margin-bottom: 30px;

  label {
    font-family: 'TT Hoves';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: justify;
    color: #FFFFFF;
    margin-bottom: 10px;
  }

  .input_body {
    display: flex;
    position: relative;
    background: rgba(255, 255, 255, 0.15);
    border: 2px solid transparent;
    border-image: linear-gradient(90deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0)) 10;
    padding: 0 15px 0 20px;
    height: 54px;
    align-items: center;
    margin-bottom: 10px;

    @media (max-width: 575px) {
      width: 100%;
      margin-bottom: 30px;
    }

    img {
      width: 24px;
      height: 24px;
      object-fit: contain;

      &.first {
        margin-right: 10px;
      }

      &.seen {
        cursor: pointer;
      }
    }

    input {
      display: flex;
      flex-grow: 1;
      width: 100%;
      border: none;
      background: transparent;
      height: 100%;
      outline: none;

      font-family: 'TT Hoves';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: #FFFFFF;
    }
  }

  .forget {
    font-family: 'TT Hoves';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    color: #FFFFFF;
  }
}

.orline {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 30px;

  p {
    font-family: 'TT Hoves';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    margin: 0 10px;
  }

  span {
    display: flex;
    height: 2px;
    flex-grow: 1;
    background-image: linear-gradient(98.07deg, #F16B41 0.71%, #C51841 100%);
  }
}

.login__links {
  margin-bottom: 60px;

  @media (max-width: 575px) {
    margin-bottom: 30px;
  }

  a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 54px;
    font-family: 'TT Hoves';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    border: 2px solid transparent;

    @media (max-width: 575px) {
      margin-bottom: 30px;
    }

    background: linear-gradient(98.07deg, rgba(241, 107, 65, 0.3) 0.71%, rgba(197, 24, 65, 0.3) 100%);
    border-image: linear-gradient(90deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0)) 10;
    padding: 0 15px 0 20px;
    transition: 0.5s;

    &.last {
      background: linear-gradient(271.79deg, #06071C 0%, rgba(22, 22, 26, 0) 99.8%);
    }

    &:hover {
      background: linear-gradient(98.07deg, rgba(241, 107, 65, 0.3) 0.71%, rgba(197, 24, 65, 0.3) 100%);
    }

    img {
      width: 24px;
      height: 24px;
      object-fit: contain;
      margin-right: 22px;
    }
  }
}

.login__regist {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  a {
    font-family: 'Krona One';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
    height: 54px;
    padding: 0 34px;
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.pay__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(98.07deg, rgba(241, 107, 65, 0.4) 0.71%, rgba(197, 24, 65, 0.4) 100%);
  padding: 17px 20px;
  border: 2px solid;
  border-image: linear-gradient(90.99deg, rgba(255, 255, 255, 0.5) 0.09%, rgba(255, 255, 255, 0) 100%) 10;
  p {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'TT Hoves';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #EDEDED;
    margin-bottom: 9px;

    img {
      width: 20px;
      height: 20px;
      object-fit: contain;
      margin-right: 10px;
    }
  }

  strong {
    font-family: 'TT Hoves';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
  }
}

